body{
    margin: 0;
    position: relative;
    width: 100%;
}


/* create css styles for header */
::-webkit-scrollbar{
    width: 0;
}

header{
    width: 100%;
    height: 75px;
    background-color: #ECF0F1;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav{
    display: inline-block;
}

nav>menu{
    display: inline-block;
    position: absolute;
    right: 30px;
}

nav>menu>li{
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}


/* create styles for <main> */
main{
    width: 100%;
    position: relative;
    top: 75px;
    margin: 0;
    background-color: #ECF0F1;
}

/*1 st section*/
main>section:nth-child(1){
    width: 100%;
    position: relative;
    top: 0;
}

main>section:nth-child(1)>img:nth-child(1){
    width: 400px;
    position: absolute;
    top: 100px;
    right: 150px;
}



